@font-face {
    font-family: clan-wide;
    src: url(../fonts/clan-wide.otf);
}
@font-face {
    font-family: clan;
    src: url(../fonts/clan.otf);
}
@font-face {
    font-family: tinos;
    src: url(../fonts/Tinos-Regular.ttf);
}
@font-face {
    font-family: tinos-bold;
    src: url(../fonts/Tinos-Bold.ttf);
}
@font-face {
    font-family: tinos-italic;
    src: url(../fonts/Tinos-Italic.ttf);
}


html {
height: 100%;
width: 100%;
background: white;
}
body {
  height: calc(100% - 8em);
  width: calc(100% - 8em);
margin: 2em;
padding: 2em;
background-color: grey;
background-repeat: no-repeat;
}

nav {
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
    -webkit-font-smoothing: antialiased;
    z-index: 900;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li:hover {
opacity: 0.5;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin-right: 2em;
}

hr {
  border: none;
background-color: #ccc;
color: white;
height: 2px;
width: calc(100% - 4em);
opacity: 0.5;
}

.logo {
  font-family: "clan-wide-light";
}

.logo img {
  height: 2em;
  width: auto;
  margin-top: -0.5em;
}

strong {
  font-family: "clan";
  font-size: 0.75em;
  float: right;
}

h1 {
  font-family: "tinos";
  font-size: 2.2em;
  color: white;
  font-weight: lighter;
  position: relative;
  left: 1em;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "tinos";
  font-size: 4em;
  color: white;
  font-weight: lighter;
  position: relative;
  top: -0.7em;
  left: 0.6em;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: "tinos-italic";
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
  position: relative;
  top: 9em;
  left: 1.5em;
}

h4, h4.more {
  font-family: "tinos";
  font-size: 2em;
  color: white;
  font-weight: lighter;
  position: relative;
  margin: 0;
  left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
        -webkit-font-smoothing: antialiased;
}

.card{
width: 46%;
height: auto;
border-radius: 2px;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
margin: 1em;
}

.story {
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c23828+0,fa8072+100 */
  background: #c23828; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #c23828 0%, #fa8072 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #c23828 0%,#fa8072 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #c23828 0%,#fa8072 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23828', endColorstr='#fa8072',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin: 1em;
}

img{
  width: 100%;
  height: auto;
}

.tint {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #C23828;
  mix-blend-mode: overlay;
  transition: all .3s linear;
}

.tint:hover:before { background: none; }

p{
  font-family: "tinos";
  color: white;
      -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  padding: 1em;
    margin: 0;
}

.more {
  font-family: "tinos-italic";
  color: white;
      -webkit-font-smoothing: antialiased;
  padding: 1em;
}

#mainbox{
  box-sizing: border-box;
  justify-content: center;
  display: flex;
flex-wrap: wrap;
margin-bottom: 5em;
margin-top: -2em;
}
