@font-face {
    font-family: clan-wide;
    src: url(../fonts/clan-wide.otf);
}
@font-face {
    font-family: clan-wide-light;
    src: url(../fonts/clan-wide-light.otf);
}
@font-face {
    font-family: clan;
    src: url(../fonts/clan.otf);
}
@font-face {
    font-family: tinos;
    src: url(../fonts/Tinos-Regular.ttf);
}
@font-face {
    font-family: tinos-bold;
    src: url(../fonts/Tinos-Bold.ttf);
}
@font-face {
    font-family: tinos-italic;
    src: url(../fonts/Tinos-Italic.ttf);
}


html {
height: 100%;
width: 100%;
background: white;
}
body {
  height: calc(100% - 8em);
  width: calc(100% - 8em);
margin: 2em;
padding: 2em;
background-image: url(../img/bg.png);
background-repeat: no-repeat;
}

.tint {
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(234deg, #0055e4, #5d00c8, #579600, #ff5c00);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  mix-blend-mode: overlay;
  transition: all .3s linear;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes AnimationName {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

nav {
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
    -webkit-font-smoothing: antialiased;
    z-index: 900;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li:hover {
opacity: 0.5;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin-right: 2em;
}

hr {
  border: none;
background-color: #ccc;
color: white;
height: 1px;
width: calc(100% - 4em);
}

.logo {
  font-family: "clan-wide-light";
}

strong {
  font-family: "clan";
  font-size: 0.75em;
  float: right;
}

.scene {
  position: relative;
  display: block;
  margin: auto;
  width: 700px;
  animation:spin 50s ease-in-out infinite;

}
.l1 {
  -webkit-filter: blur(5px) drop-shadow(0px 5px 40px black);
  filter: blur(5px)  drop-shadow(0px 5px 40px black);
          opacity: 0.75;
                         z-index: 0;
}
.l2 {
    margin-top: 50px;
    margin-left: 0px;
    -webkit-filter: blur(2px) drop-shadow(0px 5px 40px black);
     filter: blur(2px) drop-shadow(0px 5px 40px black);
               z-index: 10;
}
.l3 {
  display: block;
    margin-top: 200px;
    margin-left: 400px;
    -webkit-filter: drop-shadow(0px 5px 40px black);
    filter:  drop-shadow(0px 5px 40px black);
                   z-index: 20;
}
.l4 {
  -webkit-filter: blur(10px) drop-shadow(0px 5px 40px black);
  filter: blur(10px)  drop-shadow(0px 5px 40px black);
          z-index: 0;
}

@-moz-keyframes spin {
  0%   { transform: rotate(0deg); }
  25% { transform: rotate(25deg); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0%   { transform: rotate(0deg); }
  25% { transform: rotate(25deg); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}
@keyframes spin {
  0%   { transform: rotate(0deg); }
  25% { transform: rotate(25deg); }
  50% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}

h1 {
  font-family: "tinos";
  font-size: 2.2em;
  color: white;
  font-weight: lighter;
  position: absolute;
  bottom: 4.7em;
  margin-left: 1.2em;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "tinos";
  font-size: 5em;
  color: white;
  font-weight: lighter;
  position: absolute;
  bottom: 0.4em;
  margin-left: 0.5em;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: "tinos-italic";
  font-size: 1.5em;
  color: #C23828;
  font-weight: lighter;
  position: relative;
  top: 8em;
  margin-left: 1.5em;
}

span {
  background-color: white;
  color: #FA8072;
  padding-left: 0.5em;
  padding-right:0.5em;
}
